body {
    margin: 0;
    overflow: hidden;
    background: black;
}

.carousel {
    display: flex;
    gap: 20px;
    padding: 50px;
    cursor: grab;
    user-select: none;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
}

.carousel img:hover {
    transform: scale(1.1);
}
